.sticker .number {
	font-size: 90px;
	text-align: center; 
	height: 140px !important;
	vertical-align: middle;
	display: table-cell;
}
.sticker {
	width: 160px !important;
	background-color: #fff;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
	padding: 10px;
}

.sticker.well {
	border: 1px ;
	border-radius: 6px !important;

}
.sticker .container-fluid { 
	padding: 0;
	margin: 0;
}
.sticker .funny-label  {
	width: 84%;
}
.sticker .down-arrow  {
	width: 14%;
}

.dropdown-menu.right {
	left:auto;
    right:-3px;
    &::before {left:auto !important; right:6px;}
    &::after {left:auto !important; right:7px;}
}

.dropdown-menu {
  min-width: 0px;
}

.ui-draggable{
	style: inline-block !important;
}

.imgMy {
	background-position: center center; /* Положение фона */
    background-repeat: no-repeat; /* Отменяем повторение фона */
}


.sortable {
	vertical-align: top;
	display:table-cell;
	list-style: none;
}

.text-warning {
	color: #fb0;
}

#sortable>li {  
	display: inline-block;
	padding:5px;
	width:160px !important;
	height:170px !important;
}
.emptyLi {
	opacity:0;
}



/*message_modal*/

#message_text {
	margin-top: 40px;
	width: 90%;
}
#message_table {
	padding: 20px;
	width: 90%;
}
#message_table .message {
	text-align: left;
	padding: 6px;
	padding-left: 30px;
}
#message_table .del {
	padding:6px;
}
#message_table .del button {
	color: red;
}


#main_list {
	min-height: 200px;
	padding: 20px 30px;
}

#main_list table {
	margin-left: 40px;
}

#vk_like1 {
	position: absolute;
	right: 30px;
	top: 24px;
}

#values_menu {
	position: absolute;
	top: 15px;
	left: 30px;
}

#main_name {	
	padding: 15px;
}

h1.text-center {
	font-weight:100;
	font-size: 50px;
	margin: 15px;
	margin-bottom: 45px;
}

.icon-pencil {
	margin-top:26px;
	opacity: 0.1;
	cursor: pointer;
}
.icon-pencil:hover {
	opacity: 0.5;
}


 .fade {
   opacity: 0;
   -webkit-transition: opacity 0.05s linear;
      -moz-transition: opacity 0.05s linear;
       -ms-transition: opacity 0.05s linear;
        -o-transition: opacity 0.05s linear;
           transition: opacity 0.05s linear;
 }
