.sticker .number {
	font-size: 90px;
	text-align: center; 
	height: 140px !important;
	vertical-align: middle;
	display: table-cell;
}
.sticker {
	width: 160px !important;
	background-color: #fff;
}
.sticker .container-fluid { 
	padding: 0;
	margin: 0;
}
.sticker .funny-label  {
	width: 84%;
}
.sticker .down-arrow  {
	width: 14%;
}

.dropdown-menu.right {
	left:auto;
    right:-3px;
    &::before {left:auto !important; right:6px;}
    &::after {left:auto !important; right:7px;}
}

.dropdown-menu {
  min-width: 0px;
}

.ui-draggable{
	style: inline-block !important;
}

.imgMy {
	background-position: center center; /* Положение фона */
    background-repeat: no-repeat; /* Отменяем повторение фона */
}


.sortable {
	vertical-align: top;
	display:table-cell;
	list-style: none;
}

.text-warning {
	color: #fb0;
}

#sortable>li {  
	display: inline-block;
	padding:5px;
	width:160px !important;
	height:170px !important;
}
.emptyLi {
	opacity:0;
}
